@import url('https://fonts.googleapis.com/css2?family=GG+Sans:wght@400;700&display=swap');

#root{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}


html, body{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'GG Sans', sans-serif;
  overflow-y: hidden;
}

@font-face {
  font-family: 'GG Sans';
  src: url('/fonts/gg-sans.woff2') format('woff2'),
       url('/fonts/gg-sans.woff') format('woff'); 
  font-style: normal; 
}
